@font-face {
    font-family: "kievit";
    src: url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_medium-webfont_jwnDVRVYWD.woff2') format('woff2'),
         url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_medium-webfont_p5yw2Osm1U.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "kievit";
    src: url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_medium_italic-webfont_K0r5AVrZo.woff2') format('woff2'),
         url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_medium_italic-webfont_xnzmxmlhaL.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "kievit";
    src: url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_bold-webfont_zkAjPNMizv.woff2') format('woff2'),
         url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_bold-webfont_jYD-ctNwar.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "kievit";
    src: url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_bold_italic-webfont_i_ZGshueuU.woff2') format('woff2'),
         url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_bold_italic-webfont_hyrI1LVuBw.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "kievit";
    src: url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_black-webfont_PoVZviu6Q.woff2') format('woff2'),
         url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_black-webfont_QutUcbtLHX.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: "kievit";
    src: url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_black_italic-webfont_wJWjqitYcy.woff2') format('woff2'),
         url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_black_italic-webfont_rDuW4QLyoa.woff') format('woff');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: "kievit";
    src: url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_book-webfont_1P2qOvJUo.woff2') format('woff2'),
         url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_book-webfont_THKity_ga2.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "kievit";
    src: url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_book_italic-webfont_37SDbjzqnJ.woff2') format('woff2'),
         url('https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_book_italic-webfont_WUebJzdtt.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}

