/*Brand Styles*/
/*Core Styles*/
/*Core Font Sizes*/
/*--Header--*/
/*--Main Menu--*/
/*Main*/
/*--Footer--*/
/*--Pop Up--*/
/*--Comparison Tables Font Size--*/
/*Mobile Core Font Sizes*/
:root {
  --mobile_menu_title_font_size: 26px;
  --mobile_menu_items_font_size: 21px; }

.error-404 {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #000; }

.error-404 .page-header {
  text-align: center; }

.error-404 h2 {
  margin-top: 30px; }

.error-404 p, .error-404 li {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))); }
