@font-face {
  font-family: "kievit";
  src: url("https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_medium-webfont_jwnDVRVYWD.woff2") format("woff2"), url("https://ik.imagekit.io/gkuqjysbk/fonts/php_fonts/kievit_medium-webfont_p5yw2Osm1U.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
