/*Brand Styles*/
/*Core Styles*/
/*Core Font Sizes*/
/*--Header--*/
/*--Main Menu--*/
/*Main*/
/*--Footer--*/
/*--Pop Up--*/
/*--Comparison Tables Font Size--*/
/*Mobile Core Font Sizes*/
:root {
  --mobile_menu_title_font_size: 26px;
  --mobile_menu_items_font_size: 21px; }

.separating_line {
  display: block;
  border-bottom: 1.2px solid #000; }

.main_content_wrapper p a {
  font-weight: 800;
  color: #8dc63f; }

.main_content_wrapper p a:hover {
  color: #006f51;
  transition: color 0.6s ease; }

ul.links_list li {
  color: #006f51;
  transition: color 0.6s ease; }

ul.links_list li:before {
  background-image: url("https://ik.imagekit.io/gkuqjysbk/php_and_sparrow_assets/spa_dkgreencaret_web_zUEnmhI1E.png");
  background-size: cover;
  position: relative;
  top: 5px;
  margin-right: 7px;
  padding-top: 0px; }

ul.links_list li:hover {
  color: #8dc63f; }

ul.links_list li:hover:before {
  background-image: url("https://ik.imagekit.io/gkuqjysbk/php_and_sparrow_assets/spa_ltgreencaret_web_snX386q-ag.png"); }

.wp-block-button a {
  background-color: #006f51;
  border-radius: 5px;
  color: #fff; }

.wp-block-button a:not([href^="tel:"]):hover {
  transition: background-color 0.6s ease;
  background-color: #8dc63f; }

.wp-block-button__link {
  background-color: transparent; }

/*Custom Inline Classes*/
/* List of Counties*/
.counties_list a {
  color: #006f51;
  transition: color 0.6s ease;
  font-weight: 700; }

.counties_list a:hover {
  color: #8dc63f; }

/*flex start images*/
.flex_start_image .wp-block-media-text__media {
  align-self: flex-start; }

/*List of Links to Documents*/
.list_of_documents {
  max-width: 750px;
  width: auto;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr; }
.list_of_documents > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }
.list_of_documents > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2; }

.list_of_documents > * {
  -ms-grid-column-align: center;
      justify-self: center; }

/*Styles for tables*/
.wp-block-table {
  border-spacing: 0px;
  margin: auto;
  margin-top: 27px; }

.wp-block-table + p {
  margin-top: 20px; }

.wp-block-table tbody td, .wp-block-table tbody th {
  padding: 10px; }

.wp-block-table tbody tr + tr td, .wp-block-table tbody tr + tr th {
  border: 1px #666 solid; }

.wp-block-table tbody tr:first-child {
  background-color: #006f51;
  color: #fff;
  border: 0px;
  text-align: center; }

.wp-block-table tbody tr:first-child td {
  border-radius: 15px 15px 0px 0px;
  font-weight: 700; }

.wp-block-table tbody tr td:first-child {
  font-weight: 700; }

.wp-block-table tbody tr td + td {
  text-align: center; }

.wp-block-table tbody tr td:empty {
  visibility: hidden; }

.secundary_color_background {
  background-color: #006f51;
  color: #fff;
  text-align: center; }

.main_font_color {
  color: #8dc63f; }

/*Custom Classes*/
ul.vanilla_list {
  list-style-type: disc;
  padding-left: 50px;
  padding-bottom: 20px;
  line-height: 1.5; }

.vanilla_list a {
  color: #8dc63f;
  font-weight: 800; }

ol.vanilla_list li:not(:last-child) {
  padding-bottom: 12px; }

.form_disclaimer {
  font-size: 14px;
  margin-bottom: 0px; }

/*Styles custom for 2nd Table of the orig-medicare page*/
.wp-block-table tbody tr td.table_exception_right_row:first-child {
  text-align: center;
  font-weight: 400; }

/*Specific Classes Styles*/
@media only screen and (min-width: 850px) {
  .wp-block-button a[href^="tel:"], .modal_content a[href^="tel:"] {
    pointer-events: none; }
  .one_of_indent_medicare {
    text-indent: 160px; } }

@media only screen and (max-width: 650px) {
  .box_image img {
    max-height: 51px;
    width: auto; } }

/* 3 Columns Display */
.learn_more_3_columns .wp-block-button__link {
  min-width: 170px; }

.learn_more_3_columns .main_content_wrapper p {
  min-height: 72px; }

@media only screen and (max-width: 1050px) {
  .learn_more_3_columns div.wp-block-column {
    max-width: 450px;
    margin: auto; }
  .learn_more_3_columns div.wp-block-column:not(:last-child) {
    margin-bottom: 20px; }
  .learn_more_3_columns h3 {
    text-align: center; }
  .learn_more_3_columns .wp-block-button {
    display: flex;
    justify-content: center; }
  .learn_more_3_columns .wp-block-column p {
    text-align: center;
    margin-bottom: 10px; } }

@media only screen and (max-width: 1900px) {
  .learn_more_3_columns .wp-block-column p {
    min-height: 71px; } }

@media only screen and (max-width: 1500px) and (min-width: 1050px) {
  .learn_more_3_columns h3 {
    min-height: 80px; }
  .learn_more_3_columns .wp-block-button__link {
    padding-left: 10px;
    padding-right: 10px; }
  .learn_more_3_columns .wp-block-column p {
    min-height: 91px; }
  .learn_more_3_columns .wp-block-button {
    display: flex;
    justify-content: center; } }
