/*Brand Styles*/
/*Core Styles*/
/*Core Font Sizes*/
/*--Header--*/
/*--Main Menu--*/
/*Main*/
/*--Footer--*/
/*--Pop Up--*/
/*--Comparison Tables Font Size--*/
/*Mobile Core Font Sizes*/
:root {
  --mobile_menu_title_font_size: 26px;
  --mobile_menu_items_font_size: 21px; }

footer {
  background-color: #666;
  color: #fff;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 50px;
  padding-bottom: 15px; }

.footer_wrapper {
  margin: auto;
  max-width: 1200px; }

.menu-footer-menu-container > ul {
  display: flex;
  flex-flow: row;
  justify-content: space-around; }

.menu-footer-menu-container > ul > li {
  max-width: 250px; }

.menu-footer-menu-container > ul > li > a {
  font-size: calc(15px + (19 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  pointer-events: none;
  cursor: default;
  display: none; }

.menu-footer-menu-container .sub-menu {
  margin-top: 5px; }

.menu-footer-menu-container .sub-menu li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))); }

.sub-menu > li > a:hover {
  border-bottom: 1px #ccc solid; }

.footer_disclaimer h6 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300))); }

.footer_disclaimer p {
  font-size: 12px; }

.footer_links_and_rights {
  padding-top: 50px;
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 12px; }

.footer_links_and_rights p {
  margin-top: 10px;
  margin-bottom: 10px; }

.footer_links_and_rights p a {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline; }

.post_footer {
  text-align: center; }

@media only screen and (max-width: 1050px) {
  footer {
    padding-left: 5vw;
    padding-right: 5vw; } }

@media only screen and (max-width: 850px) {
  .menu-footer-menu-container > ul {
    display: block;
    text-align: center; }
  .menu-footer-menu-container > ul > li {
    padding-top: 20px;
    max-width: none; }
  .menu-footer-menu-container > ul > li > a {
    border-bottom: 1px #999 solid;
    display: none; }
  footer {
    padding-top: 20px; }
  .footer_disclaimer h6 {
    margin-top: 40px; }
  .footer_links_and_rights {
    padding-top: 20px; } }
