/*Brand Styles*/
/*Core Styles*/
/*Core Font Sizes*/
/*--Header--*/
/*--Main Menu--*/
/*Main*/
/*--Footer--*/
/*--Pop Up--*/
/*--Comparison Tables Font Size--*/
/*Mobile Core Font Sizes*/
:root {
  --mobile_menu_title_font_size: 26px;
  --mobile_menu_items_font_size: 21px; }

/* Tooltip Styles*/
span.tooltip_styles {
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity .4s ease-in-out; }

span.tooltip_styles.bordered_tooltip {
  border: 1px solid #e2e2e2;
  background: #fff;
  padding: 10px;
  line-height: 1.5;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  box-shadow: 5px 5px 10px 0px #e2e2e2; }

.bordered_tooltip:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  margin-bottom: -10px; }

.accessibility_header_button span.accessibility_tooltip {
  width: 120px;
  top: 45px;
  margin-left: -60px;
  /* Position the tooltip */ }

.accessibility_header_button:hover > .accessibility_tooltip {
  visibility: visible;
  opacity: 1; }

.header-cta button {
  color: #fff;
  background-color: #006f51;
  transition: background-color 0.4s ease;
  cursor: pointer; }

.header-cta button:hover {
  background-color: #8dc63f; }

.main-menu-wrapper {
  background: #fff; }

.main-menu-wrapper.sticky_nav {
  box-shadow: 2px 2px 2px #d6d6d6; }

.main-menu-logo {
  -ms-grid-row-align: center;
      align-self: center;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 40px;
  width: 140px; }

.menu-header-external-links-container ul li {
  color: #fff;
  background-color: #8dc63f;
  transition: background-color 0.4s ease; }

.menu-header-external-links-container ul li:hover {
  background-color: #006f51; }

.main-menu .current-menu-item {
  font-weight: 700;
  color: #8dc63f; }

@media only screen and (max-width: 850px) {
  .main-menu-logo {
    display: none; }
  .menu-on {
    background: #666;
    color: #fff; }
  .main-menu-wrapper {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    transition: top .6s; }
  /*Hamburger Icon Styles*/
  .hamburger-icon {
    display: inline-block;
    cursor: pointer; }
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s; }
  .bar3 {
    margin-bottom: 0px; }
  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 2px); }
  .change .bar2 {
    opacity: 0; }
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -2px); } }
