/*Brand Styles*/
/*Core Styles*/
/*Core Font Sizes*/
/*--Header--*/
/*--Main Menu--*/
/*Main*/
/*--Footer--*/
/*--Pop Up--*/
/*--Comparison Tables Font Size--*/
/*Mobile Core Font Sizes*/
:root {
  --mobile_menu_title_font_size: 26px;
  --mobile_menu_items_font_size: 21px; }

.hidden_popup {
  display: none; }

.modal_content.show_pop_up {
  display: block; }

#modal_background {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal_content {
  display: none;
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  z-index: 1001;
  position: fixed;
  border-radius: 8px;
  left: 45%;
  top: 55%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px; }

.modal_content p {
  margin-bottom: 30px; }

/* The Close Button */
#modal_close_button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #aaaaaa;
  float: right;
  top: -7px;
  right: -13px;
  font-size: 36px;
  position: relative;
  font-weight: bold; }

#modal_close_button:hover,
#modal_close_button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.span_with_pop_up {
  cursor: pointer; }

.modal_content h1 {
  text-align: center; }

.modal_content .outgoing_link {
  display: flex;
  justify-content: center; }

.modal_content .outgoing_link button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #006f51;
  border-radius: 5px;
  cursor: pointer;
  font-size: calc(17px + (19 - 17) * ((100vw - 300px) / (1600 - 300))); }

@media only screen and (max-width: 1050px) {
  .modal_content {
    left: 0;
    top: 50%;
    width: 70% !important;
    height: auto !important;
    margin-left: 7.5% !important; } }
