@supports (display: grid) {
    .home_page_wrapper {
        background: var(--main-color); /* Old browsers */
        background: linear-gradient(45deg,  var(--main-color) 0%,var(--secundary-color) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: var(--font-color);
        font-family: 'Montserrat';
        font-weight: bold;
        font-style: normal;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(10,1fr);
    }
    .home_picture {
        grid-column: 1/6;
        grid-row: 1/-1;
        order: 1;
        background-image: url("https://ik.imagekit.io/edwinb24/main_photo_Tfbks8fvM.jpg");
        background-position: center center;
        background-size: cover;
    }
    .name_and_intro {
        grid-column: 7/10;
        grid-row: 3/10;
    }
    .name {
        display: block;
    }
    .intro {
        display: block;
    }
    .description {
        grid-column: 7/10;
        grid-row: 5/10;
    }
  }
  @supports not (display: grid) {
    div {
      float: right;
    }
  }