$cut_corner: 10;
:root {
    --hover-color1: #bc6b6b;
    --hover-color2: #ad8e5f;
}
@function sqrt($num) {
    $x0: 1;
    $x1: $x0;
   
    @for $i from 1 through 10 {
      $x1: $x0 - ($x0 * $x0 - abs($num)) / (2 * $x0);
      $x0: $x1;
    }
   
    @return $x1;
  }

  @function pow($base, $exponent) {
    $result: 1;
    @for $i from 1 through $exponent {
      $result: $result * $base;
    }
    @return $result;
  }
//Calculating sides
  @function pitagoras($hypothenus) {
    $a: sqrt(pow($hypothenus,2)/2);
    @return $a;
  } 

.header-wrapper {
    display: none;
}
a:focus {
    border: 3px solid #ff9244;
    border-radius: 5px;
    outline: none;
}

@supports (display: grid) {
    .home_page_wrapper {
        width: 100vw;
        height: 100vh;
        font-style: normal;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(auto-fit,minmax(70px,1fr));
    }
    .home_picture {
        order: 1;
        background-image: url("https://ik.imagekit.io/edwinb24/main_photo_Tfbks8fvM.jpg");
        background-position: right center;
        background-size: cover;
    }
    .name_and_intro {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .name, .intro {
        display: block;
    }
    .intro, .description {
        font-family: Montserrat;
    }
    nav.social_media {
        display: grid;
        grid-template-columns: repeat(6, 25px);
        grid-template-rows: 28px;
        padding: 10px;
        gap: 10px;
        height: 30px;
        align-self: start;
        margin-top: 10px;
        margin-right: 20px;
    }
    .main_navigation div {
        align-self: center;
        justify-self: center;
    }
    @media screen and (min-width: 1251px) {
        .home_page_wrapper {
            background: linear-gradient(135deg, var(--main-color) 0%, var(--secundary-color) 65%);
            color: var(--font-color);
            font-family: 'Montserrat'; 
            font-weight: bold;
        }
        .home_picture {
            grid-column: 1/6;
            grid-row: 1/-1;
        }
        .name_and_intro {
            grid-column: 7/10;
            grid-row: 3/5;
        }
        .name {
            color: var(--secundary-font-color);
            font-size: calc(42px + (64 - 42) * ((100vw - 1000px) / (1600 - 1000)));
            font-weight: 500;
            text-shadow: 7px 8px 3px rgba(0, 0, 0,.3);
        }
        .intro {
            font-size: calc(16px + (22 - 16) * ((100vw - 1000px) / (1600 - 1000)));
        }
        .description {
            grid-column: 7/10;
            grid-row: 5/6;
            margin-top: 35px;
            text-shadow: 7px 8px 3px rgba(0, 0, 0, 0.3);
        }
        nav.social_media {
            grid-column: 9/11;
            justify-self: end;
        }
        .social_media img{
            filter: contrast(1.4) drop-shadow(7px 8px 3px rgba(0, 0, 0,.3));
        }
        .social_media img:hover {
            transform: scale(1.2, 1.2);
            filter: contrast(1.4) drop-shadow(7px 8px 3px rgba(0, 0, 0,.8)) contrast(175%) brightness(103%) invert(7%) ;
        }
        .main_navigation {
            grid-column: 7/10;
            grid-row: 7/8;
            display: grid;
            grid-template-columns: repeat(3,160px);
            text-align: center;
            justify-content: center;
            font-size: calc(16px + (18 - 16) * ((100vw - 1000px)/ (1600 - 1000)));
        }
        .main_navigation a {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 33px;
            padding-right: 33px;
        }
        .main_navigation a {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 33px;
            padding-right: 33px;
        }
        .main_navigation div {
            background: linear-gradient(300deg, #4e73b1   0%, #f1efef 55%);
            color: var(--secundary-color);
            border-radius: 30px;
            position: relative;
            overflow: hidden;    
            box-shadow: 5px 5px 10px rgba(0,0,0,0.9),
                                    0px 2px 10px 0px rgba(0,0,0,.9),
                                    0px 1px 10px 0px rgba(0,0,0,.9);
            transition: box-shadow 280ms cubic-bezier(.4, 0, 0.2, 1),
                                scale 1s;
        }
        .main_navigation div:hover {
            box-shadow: 5px 2px 4px -1px #000,
                                    0px 4px 5px 0px #000,
                                    0px 1px 10px 0px #000;
            transform: scale(0.99);
        }
        .main_navigation div:hover:before {
            content: '';
            position: absolute;
            top: 0;
            left: 10px;
            z-index: 2;
            background: white;
            opacity: 0.3;
            height: 100%;
            width: 100%;
            transform: skewX(-45deg);
            background: linear-gradient(to right, white, white 20px, transparent 20px);
            transform-origin: left bottom;
            /*Shine animation*/
            animation-name: shine;
            animation-duration: 7s;
            animation-timing-function: ease-in;
        }
        @keyframes shine {
            0% {
            transform: skewX(-45deg) translateX(-100%);
            }
            10% {
            transform: skewX(-45deg) translateX(100%);
            }
            100% {
            transform: skewX(-45deg) translateX(100%);
            }
        }

      }
    @media screen and (max-width: 1250px) and (min-width: 700px){
        .home_page_wrapper {
            background: #e5e5e5;
            z-index: -1;
        }
        .home_picture {
            grid-column: 3/-1;
            grid-row: 1/-1;
            filter: contrast(1.4) grayscale(100%);
            margin-right: -15%;
            z-index: 0;
        }
        .name_and_intro, .description, .social_media, .main_navigation {
            z-index: 1;
        }
        .name_and_intro {
            grid-column: 2/9;
            grid-row: 3/5;
        }
        .name {
            font-family: 'Caviar'; 
            font-weight: bold;
            font-size: calc(68px + (102 - 68) * ((100vw - 1000px)/ (1600 - 1000)));
            text-shadow: 4px 4px 3px rgba(0, 0, 0,.3);
        }
        .intro {
            font-size: calc(20px + (32 - 20) * ((100vw - 1000px)/ (1600 - 1000)));
            font-weight: 600;
        }
        .description {
            grid-column: 2/7;
            grid-row: 5/6;
        }
        .main_navigation {
            grid-column: 2/6;
            grid-row: 7;
            display: grid;
            grid-template-columns: 1fr;
            font-family: 'Caviar'; 
            font-weight: bold;
            font-size: calc(30px + (36 - 30) * ((100vw - 1000px)/ (1600 - 1000)));
            text-shadow: 4px 4px 3px rgba(0, 0, 0,.3);
        }
        .main_navigation div:hover {
            position: relative;
            background: linear-gradient(135deg, var(--hover-color1) 0%, var(--hover-color2) 100%);
            text-shadow: 0px 0px #000;
            transform: scale(1.03);
            transition: transform 500ms;
        }

        .main_navigation div:hover:before {
                position: absolute;
            content:"";
            bottom: 0px;
            right: 0px;
            width: 100%;
            height:  100%;
            box-shadow: 4px 4px 3px rgba(0,0,0,.3);
        }
        /*🧙‍♂️ CSS Houdini!🧙*/
        @supports (background-image: paint(custom_corner)) {
            .main_navigation div:hover {
                background-color: transparent;
                background-image: paint(custom_corner);
                --radius: #{$cut_corner}px;
                --onhover_color1: var(--hover-color1);
                --onhover_color2: var(--hover-color2);
            }
            .main_navigation div:hover:before {
                width: calc(100% -  #{pitagoras($cut_corner)}px);
                height:  calc(100% - #{pitagoras($cut_corner)}px);
            }
        }
        .main_navigation a {
            display: block;
            padding-left: 10px;
            padding-right: 10px;
        }

        nav.social_media {
            grid-column: 2/6;
            grid-row: 9/10;
            grid-template-columns: repeat(6,32px);
            grid-template-rows: 32px;
            justify-content: center;
        }
        nav.social_media a {
            filter: 
                        contrast(0) 
                        sepia(100%) 
                        saturate(10000%) 
                        brightness(100%) 
                        grayscale(100%) 
                        drop-shadow(4px 4px 2px rgba(0,0,0,.3));    
            transition: filter 400ms linear, transform 400ms;
        }
        
        nav.social_media a:hover {
            filter: 
                        contrast(0)
                        sepia(65%)
                        saturate(5980%) 
                        brightness(98%) 
                        grayscale(60%)
                        drop-shadow(4px 4px 2px rgba(0,0,0,0.3));
            transform: scale(1.1);
        }

        .home_picture:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: 
            linear-gradient(68deg, #c8c8c8 41%,transparent 41%), 
            linear-gradient(68deg,rgba(255,215,0,.6) 44%,transparent 44%), 
            linear-gradient(68deg,rgba(255,215,0,.4) 47%,transparent 47%), 
            linear-gradient(68deg,rgba(255,215,0,.25) 50%,transparent 50%),
            linear-gradient(68deg,rgba(255,215,0,.17) 53%,transparent 53%);
        }
    }
    @media screen and (max-width: 700px) and (min-width: 450px) {
        .home_picture {
            grid-column: 1/-1;
            grid-row: 1/-1;
            filter: blur(1.5px);
            position: relative;
            z-index: -1;
        }
        .home_picture:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }
        .home_page_wrapper {
            opacity: 0.9;
            color: #fefefe;
            grid-template-rows: repeat(auto-fit,minmax(70px,1fr));
            grid-template-columns: repeat(auto-fit,minmax(70px,1fr));
            font-family: Montserrat;
        }
        .home_page_wrapper:before {
            content: "";
            width: 92vw;
            height: 92vh;
            position: fixed;
            border: 5px solid #fff;
            top: 4vh;
            left: 4vw;
            z-index: 0;
        }
        .name_and_intro, .description {
            width: 70vw;
            margin-left: 15vw;
            margin-right: 15vw;
            justify-self: center;
            grid-column: 1/-1;
        }
        .name_and_intro {
            grid-row: 1/-1;
            font-weight: 700;
            font-style: italic;
            width: 80vw;
            margin-left: 10vw;
            margin-right: 10vw;
            justify-self: center;
            align-self: center;
        }
        .name {
            font-size: calc(48px + (58 - 48) * ((100vw - 1000px)/ (1600 - 1000)));
            font-weight: 700;
        }
        .intro {
            font-size:  calc(27px + (36 - 27) * ((100vw - 1000px)/ (1600 - 1000)));
        }
        .main_navigation {
            font-size: calc(26px + (32 - 26) * ((100vw - 1000px)/ (1600 - 1000)));
            grid-column: 1/-1;
            grid-row: 1/4;
            font-weight: 600;
            display: grid;
            justify-self: center;
            grid-auto-flow: column;
            gap: 20px;
            z-index: 1;
        }
        .description {
            font-size:  calc(21px + (27 - 21) * ((100vw - 1000px)/ (1600 - 1000)));
            grid-row: 1/-1;
            text-align: center;
            align-self: end;
            padding-left: 30px;
            padding-right: 30px;
            background-color: rgba(0,0,0,.9);
            position: relative;
            top: -10vh;
        }
        .description::before {
            content:"";
            background: radial-gradient(circle at 0 0,transparent 30px,rgba(0,0,0,.9) 30px),radial-gradient(circle at 100% 0,transparent 30px,rgba(0,0,0,.9) 30px);
            background-repeat: no-repeat;
            // .01% to prevent ocational display glitch
            background-size: 50.01% 100%;
            background-position: top left,top right;
            height: 30px;
            width: 100%;
            position: absolute;
            left: 0px;
            top: -30px;
           // background-color: pink;
        }
        .description::after {
            content: "";
            width: 100%;
            background: radial-gradient(circle at 0 100%,transparent 30px,rgba(0,0,0,.9) 30px),radial-gradient(circle at 100% 101%,transparent 30px,rgba(0,0,0,.9) 30px);
            height: 30px;
            background-position: bottom left, bottom right;
            background-repeat: no-repeat;
            width: 100%;
            position: absolute;
            bottom: -30px;
            left: 0;
            // .01% to prevent ocational display glitch
            background-size: 50.01% 100%;
        }
        nav.social_media {
            grid-auto-flow: column !important;
            grid-row: 1;
            grid-column: 1/-1;
            justify-self: flex-end;
            grid-auto-flow: column;
            grid-template-rows: repeat(6,28px);
            grid-template-columns: 28px;
            margin-top: 7vh;
            padding-right: 2vw;
            z-index: 1;
            filter: grayscale(1) brightness(1.18);
        }
    }
    @media screen and (max-width: 450px) {
        
    }
}
  @supports not (display: grid) {
    div {
      float: right;
    }
  }