@import "../../_variables";

.separating_line {
    display: block;
    border-bottom: 1.2px solid #000;
}

.main_content_wrapper p a {
    font-weight: 800;
    color: $main-color;
}
.main_content_wrapper p a:hover {
    color: $secundary-color;
    transition: color 0.6s ease;
}
ul.links_list li {
    color: $secundary_color;
    transition: color 0.6s ease;
}

ul.links_list li:before {
    background-image: url($list_of_links_image);
    background-size: cover; 
    position: relative;
    top: 5px;
    margin-right: 7px;
    padding-top: 0px;
}

ul.links_list li:hover {
    color: $main_color;
}
ul.links_list li:hover:before {
    background-image: url($list_of_links_hover_image);
}



.wp-block-button a {
    background-color: $secundary_color;
    border-radius: 5px;
    color: $white;
}
.wp-block-button a:not([href^="tel:"]):hover {
    transition: background-color 0.6s ease;
    background-color: $main_color;
}

.wp-block-button__link {
    background-color: transparent;
}


/*Custom Inline Classes*/
/* List of Counties*/
.counties_list a  {
    color: $secundary_color;
    transition: color 0.6s ease;
    font-weight: 700;
}
.counties_list a:hover  {
    color: $main_color;
}

/*flex start images*/
.flex_start_image .wp-block-media-text__media {
    align-self: flex-start;
} 


/*List of Links to Documents*/
.list_of_documents {
    max-width: 750px;
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.list_of_documents > * {
    justify-self: center;
}
/*Styles for tables*/
.wp-block-table {
    border-spacing: 0px;
    margin: auto;
    margin-top: 27px;
}
.wp-block-table + p {
    margin-top: 20px;
}
.wp-block-table tbody td, .wp-block-table tbody th {
    padding: 10px;
}
.wp-block-table tbody tr+tr td, .wp-block-table tbody tr+tr th {
    border: 1px $gray solid;
}

.wp-block-table tbody tr:first-child {
    background-color: $secundary_color;
    color: $white;
    border: 0px;
    text-align: center;
}

.wp-block-table tbody tr:first-child td{
    border-radius: 15px 15px 0px 0px;
    font-weight: 700;
}

.wp-block-table tbody tr td:first-child{
    font-weight: 700;
}
.wp-block-table tbody tr td+td {
    text-align: center;
}

.wp-block-table tbody tr td:empty {
    visibility: hidden;
}

.secundary_color_background {
    background-color: $secundary_color;
    color: $white;
    text-align: center;
}
.main_font_color {
    color: $main_color;
}

/*Custom Classes*/
ul.vanilla_list {
    list-style-type: disc;
    padding-left: 50px;
    padding-bottom: 20px;
    line-height: 1.5;
}

.vanilla_list a {
    color: $main_color;
    font-weight: 800;
}

ol.vanilla_list li:not(:last-child) {
    padding-bottom: 12px;
}

.form_disclaimer {
    font-size: $main_disclaimer_font_size;
    margin-bottom: 0px;
}

/*Styles custom for 2nd Table of the orig-medicare page*/
.wp-block-table tbody tr td.table_exception_right_row:first-child {
    text-align: center;
    font-weight: 400;
}

/*Specific Classes Styles*/

@media only screen and (min-width: 850px) {
    .wp-block-button a[href^="tel:"], .modal_content  a[href^="tel:"] {
        pointer-events: none; 
    }
    .one_of_indent_medicare {
        text-indent: 160px;
    }
}

@media only screen and (max-width: 650px) {
    .box_image img {
        max-height: 51px;
        width: auto;
    }
}

/* 3 Columns Display */
.learn_more_3_columns .wp-block-button__link {
    min-width: 170px;
}
.learn_more_3_columns .main_content_wrapper p {
    min-height: 72px;
}

@media only screen and (max-width: 1050px) {
    .learn_more_3_columns div.wp-block-column{
        max-width: 450px;
        margin: auto;
    }
    .learn_more_3_columns div.wp-block-column:not(:last-child) {
        margin-bottom: 20px;
    }
    .learn_more_3_columns h3 {
        text-align: center;
    }
    .learn_more_3_columns .wp-block-button {
        display: flex;
        justify-content: center;
    }
    .learn_more_3_columns .wp-block-column p {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1900px) {
    .learn_more_3_columns .wp-block-column p {
        min-height: 71px;
    }
}
@media only screen and (max-width: 1500px)  and (min-width: 1050px) {
    .learn_more_3_columns h3 {
        min-height: 80px;
    }
    .learn_more_3_columns .wp-block-button__link {
        padding-left: 10px;
        padding-right: 10px;
    }
    .learn_more_3_columns .wp-block-column p {
        min-height: 91px;
    }
    .learn_more_3_columns .wp-block-button {
        display: flex;
        justify-content: center;
    }
}
