@import "../../_variables";
@import "../../_fonts";

$cut_corner: 10;

:root {
    --hover-color1: #bc6b6b;
    --hover-color2: #ad8e5f;
}

@function sqrt($num) {
    $x0: 1;
    $x1: $x0;
   
    @for $i from 1 through 10 {
      $x1: $x0 - ($x0 * $x0 - abs($num)) / (2 * $x0);
      $x0: $x1;
    }
   
    @return $x1;
  }

  @function pow($base, $exponent) {
    $result: 1;
    @for $i from 1 through $exponent {
      $result: $result * $base;
    }
    @return $result;
  }
//Calculating sides
  @function pitagoras($hypothenus) {
    $a: sqrt(pow($hypothenus,2)/2);
    @return $a;
  } 

a:focus {
    border: 3px solid #ff9244;
    border-radius: 5px;
    outline: none;
}


@supports (display: grid) {

    
    .intro, .description {
        font-family: 'Montserrat'; 
    }
    @media screen and (min-width: 1251px) {
        .name {
            text-shadow: 7px 8px 3px rgba(0, 0, 0,.3);
        }
        .description {
            text-shadow: 7px 8px 3px rgba(0, 0, 0, 0.3);
        }

        .social_media img{
            filter: contrast(1.4) drop-shadow(7px 8px 3px rgba(0, 0, 0,.3));
        }
        .social_media img:hover {
            transform: scale(1.2, 1.2);
            filter: contrast(1.4) drop-shadow(7px 8px 3px rgba(0, 0, 0,.8)) contrast(175%) brightness(103%) invert(7%) ;
        }
        .main_navigation div {
            background: linear-gradient(300deg, #4e73b1   0%, #f1efef 55%);
            border-radius: 30px;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.9),
                                    0px 2px 10px 0px rgba(0,0,0,.9),
                                    0px 1px 10px 0px rgba(0,0,0,.9);
            transition: box-shadow 280ms cubic-bezier(.4, 0, 0.2, 1),
                                scale 1s;
        }
        .main_navigation div:hover {
            box-shadow: 5px 2px 4px -1px #000,
                                    0px 4px 5px 0px #000,
                                    0px 1px 10px 0px #000;
            transform: scale(0.99);
        }
        .main_navigation a:hover:before {
            content: '';
            position: absolute;
            top: 0;
            left: 10px;
            z-index: 2;
            background: white;
            opacity: 0.3;
            height: 100%;
            width: 100%;
            transform: skewX(-45deg);
            background: linear-gradient(to right, white, white 20px, transparent 20px);
            transform-origin: left bottom;
            /*Shine animation*/
            animation-name: shine;
            animation-duration: 7s;
            animation-timing-function: ease-in;
        }
        @keyframes shine {
            0% {
            transform: skewX(-45deg) translateX(-100%);
            }
            10% {
            transform: skewX(-45deg) translateX(100%);
            }
            100% {
            transform: skewX(-45deg) translateX(100%);
            }
        }

      }
    @media screen and (max-width: 1250px) and (min-width: 700px){
        .name {
            font-family: 'Caviar'; 
            text-shadow: 4px 4px 3px rgba(0, 0, 0,.3);
        }
        .main_navigation {
            font-family: 'Caviar'; 
            text-shadow: 4px 4px 3px rgba(0, 0, 0,.3);
        }
        .main_navigation div:hover {
            position: relative;
            background: linear-gradient(135deg, var(--hover-color1) 0%, var(--hover-color2) 100%);
            text-shadow: 0px 0px #000;
            transform: scale(1.03);
            transition: transform 500ms;
        }

        .main_navigation div:hover:before {
                position: absolute;
            content:"";
            bottom: 0px;
            right: 0px;
            width: 100%;
            height:  100%;
            box-shadow: 4px 4px 3px rgba(0,0,0,.3);
        }
        /*🧙‍♂️ CSS Houdini!🧙*/
        @supports (background-image: paint(custom_corner)) {
            .main_navigation div:hover {
                background-color: transparent;
                background-image: paint(custom_corner);
                --radius: #{$cut_corner}px;
                --onhover_color1: var(--hover-color1);
                --onhover_color2: var(--hover-color2);
            }
            .main_navigation div:hover:before {
                width: calc(100% -  #{pitagoras($cut_corner)}px);
                height:  calc(100% - #{pitagoras($cut_corner)}px);
                z-index: -1;
            }
        }

 
        nav.social_media a {
            filter: 
                        contrast(0) 
                        sepia(100%) 
                        saturate(10000%) 
                        brightness(100%) 
                        grayscale(100%) 
                        drop-shadow(4px 4px 2px rgba(0,0,0,.3));    
            transition: filter 400ms linear, transform 400ms;
        }
        
        nav.social_media a:hover {
            filter: 
                        contrast(0)
                        sepia(65%)
                        saturate(5980%) 
                        brightness(98%) 
                        grayscale(60%)
                        drop-shadow(4px 4px 2px rgba(0,0,0,0.3));
            transform: scale(1.1);
        }

    }
    @media screen and (max-width: 700px) and (min-width: 450px) {
        .home_picture {
            grid-column: 1/-1;
            grid-row: 1/-1;
            filter: blur(1.5px);
            position: relative;
            z-index: -1;
        }
        .home_picture:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }
        .home_page_wrapper {
            opacity: 0.9;
            color: #fefefe;
            font-family: 'Montserrat'; 
        }
        .home_page_wrapper:before {
            box-sizing: border-box;
            content: "";
            width: 92vw;
            height: 92vh;
            position: fixed;
            border: 5px solid #fff;
            top: 4vh;
            left: 4vw;
            z-index: 0;
        }
        .name_and_intro {
            font-style: italic;
        }
        .name {
            font-size: calc(48px + (58 - 48) * ((100vw - 1000px)/ (1600 - 1000)));
            font-weight: 700;
        }
        .intro {
            font-size:  calc(27px + (36 - 27) * ((100vw - 1000px)/ (1600 - 1000)));
        }
        .description {
            background-color: rgba(0,0,0,.9);
        }
        .description::before {
            content:"";
            background: 
                radial-gradient(circle at 0 0,transparent var(--description_custom_corner),
                rgba(0,0,0,.9) var(--description_custom_corner)),
                radial-gradient(circle at 100% 0,transparent var(--description_custom_corner),
                rgba(0,0,0,.9) var(--description_custom_corner))
            ;
            background-repeat: no-repeat;
            // .01% to prevent ocational display glitch
            background-size: 50.01% 100%;
            background-position: top left,top right;
            height: var(--description_custom_corner);
            width: 100%;
            position: absolute;
            left: 0px;
            top: calc(-1 * var(--description_custom_corner));
        }
        .description::after {
            content: "";
            width: 100%;
            background: 
                radial-gradient(circle at 0 100%,transparent var(--description_custom_corner),
                rgba(0,0,0,.9) var(--description_custom_corner)),
                radial-gradient(circle at 100% 101%,transparent var(--description_custom_corner),
                rgba(0,0,0,.9) var(--description_custom_corner))
            ;
            height: var(--description_custom_corner);
            background-position: bottom left, bottom right;
            background-repeat: no-repeat;
            width: 100%;
            position: absolute;
            bottom: calc(-1 * var(--description_custom_corner));
            left: 0;
            // .01% to prevent ocational display glitch
            background-size: 50.01% 100%;
        }
        nav.social_media {
            filter: grayscale(1) brightness(1.18);
        }
    }
    @media screen and (max-width: 450px) {
        .home_page_wrapper {
            color: #efefef;
        }
        .home_picture:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,.3);
        }
        .home_picture {
            grid-column: 1/-1;
            grid-row: 1/-1;
            position: relative;
            z-index: -1;
            background-image: url("https://ik.imagekit.io/edwinb24/wp-content/uploads/2020/01/home_page_photo_mobile.jpg?tr=w-20,h-20 ");
            background-position: center top;
        }

        .name_and_intro {
            font-style: italic;
        }
        .name {
            font-family: 'Painthing With Chocolate'; 
            font-size: calc(42px + (64 - 42) * ((100vw - 300px)/ (500 - 300)));
            font-weight: normal;
        }
        .intro {
            font-size:  calc(27px + (36 - 27) * ((100vw - 1000px)/ (1600 - 1000)));
        }
        .main_navigation {
            font-family: 'Montserrat';
        }

        nav.social_media {
            filter: grayscale(1) brightness(1.18);
        }
    }

    @media (orientation: landscape) and (max-width: 700px) {
        .home_picture {
            background-position: center top;
        }
        .description {
            --description_custom_corner: 15px;
        }
    }

    @media (orientation: landscape) and (min-width: 700px) and (max-width: 1200px) {
        .description {
            display: none;
        }
    }

}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .home_page_wrapper {
        font-family: 'Montserrat';
        background: linear-gradient(to bottom, #1e4470 0%,#2971ac 59.5%,#1e619c 59.5%,#8da1b1 100%);
        color: #efefef;
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        flex-flow: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    
    .home_picture {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        background-image: url("https://ik.imagekit.io/edwinb24/wp-content/uploads/2020/01/ie_home_page_photo.jpg") !important;
        background-position: center center;
        background-size: contain;
        order: 1;
    }

    .name_and_intro {
        order: 2;
        display: flex;
        flex-flow: column;
        text-align: center;
        font-size: 28px;
    }

    .description {
        order: 3;
        max-width: 720px;
        text-align: center;

    }

    .main_navigation {
        order: 4;
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .main_navigation div {
        margin-right: 20px;
        margin-left: 20px;
        font-weight: 800;
        border-bottom: 3px solid #efefef;
        transition: transform .3s;
        padding-left: 3px;
        padding-right: 3px;
    }

    .main_navigation div:hover {
        color: #fff;
        border-color: #fff;
        transform: scale(1.1, 1.1);
    }

    .social_media {
        order: 5;
    }

    .social_media img {
        width: 30px;
        height: 30px;
        transition: transform .3s;
    }
    .social_media img:hover {
        transform: scale(1.1, 1.1);
    }
}
