@import "../../_variables";

/* Tooltip Styles*/
span.tooltip_styles {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size: $tooltip_font_size;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity .4s ease-in-out;
 }
 
 span.tooltip_styles.bordered_tooltip {
    border: 1px solid $light_gray;
    background: $white;
    padding: 10px;
    line-height: 1.5;
    font-size: $bordered_tooltip_font_size;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(226,226,226,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(226,226,226,1);
    box-shadow: 5px 5px 10px 0px rgba(226,226,226,1);
}

.bordered_tooltip:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: $white;
	border-bottom: 0;
	margin-bottom: -10px;
}

.accessibility_header_button span.accessibility_tooltip {
    width: 120px;
    top: 45px;
    margin-left: -60px;
    /* Position the tooltip */
}

.accessibility_header_button:hover>.accessibility_tooltip {
    visibility: visible;
    opacity: 1;
  }

.header-cta button{
    color: $white;
    background-color: $secundary_color;
    transition: background-color 0.4s ease;
    cursor: pointer;
}

.header-cta button:hover{
    background-color: $secundary_color_hover;
}

.main-menu-wrapper {
    background: $white;
}

.main-menu-wrapper.sticky_nav {
    box-shadow: 2px 2px 2px $main_menu_sticky_box_shadow_color;
}

.main-menu-logo {
    align-self: center;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
    width: 140px;
}

.menu-header-external-links-container ul li {
    color: $white;
    background-color: $main_color;
    transition: background-color 0.4s ease;
}

.menu-header-external-links-container ul li:hover {
    background-color: $main_color_hover;
}

.main-menu .current-menu-item {
    font-weight: 700;
    color: $main_color;
}

@media only screen and (max-width: 850px) {
    .main-menu-logo {
        display: none;
    }
    .menu-on {
        background: $gray;
        color: $white;
    }
    .main-menu-wrapper {
        color: $white;
        background-color: $translucit_gray;
        transition: top .6s;
    }

    /*Hamburger Icon Styles*/
    .hamburger-icon {
        display: inline-block;
        cursor: pointer;
    }
        
     .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
        transition: 0.4s;
    }

    .bar3 {
        margin-bottom: 0px;
    }
        
    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 2px);
    }
        
     .change .bar2 {opacity: 0;}
        
    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -2px);
    }
    
}