.projects_content {
    padding-left: 5vw;
    padding-right: 5vw;
    margin: auto;
    max-width: 800px;
    font-family: 'Montserrat';
}

.projects_content .intro {
    margin-bottom: 10px;
}

.projects_content .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 50px;
}

.projects_content .content article {
    width: 100%;
    background-color: aliceblue;
    border: 1px solid #000;
}

.projects_content .content article .entry-title {
    font-weight: 800;
    text-align: center;
    background-color: #ccc;
    padding: 10px 20px;
    margin: 0px;
}

.projects_content .content article .main-content {
    display: grid;
    overflow: hidden;
}

.projects_content .content article .main-content .project_image{
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: 0 0 50px rgba(0,0,0,.75) inset;
}

.projects_content .content article .main-content .project_image.hover_image{
    z-index: 8;
}

.projects_content .content article .main-content .project_image.hover_image{
    transform: translateY(-290px);
    z-index: 9;
    transition: transform .6s;
    transition-timing-function: cubic-bezier(.28,.73,.24,1.03);
}

.projects_content .content article:hover .main-content .project_image.hover_image {
    transform: translateY(0px);
}

.projects_content .content article .main-content ul {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
}


.projects_content .content article .main-content li {
    padding: 5px 10px;
    font-weight: 800;
    background-color: #666;
    color: #eee;
    border-radius: 3px;
    margin-top: 10px;

    transform: rotateX(91deg);
    transition: transform .6s;
    transition-delay: .5s,.5s;
    backface-visibility: hidden;
    transform-origin: 50% 50% -10px;
    box-shadow: 3px 3px 2px transparent;
}

.projects_content .content article:hover .main-content li {
    transform: rotateX(0);
    box-shadow: 3px 3px 2px #222;
    z-index: 1;
}

.projects_content .content article .main-content li span{

}

.projects_content .content article:hover .main-content li span{

}
