.projects_content {
    padding-left: 5vw;
    padding-right: 5vw;
    margin: auto;
    max-width: 800px;
    font-family: 'Montserrat';
}

.projects_content .intro {
    margin-bottom: 10px;
}

.projects_content .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 50px;
}

.projects_content .content article {
    width: 100%;
    background-color: aliceblue;
    border: 1px solid #000;
}

.projects_content .content article .entry-title {
    font-weight: 800;
    text-align: center;
    background-color: #ccc;
    padding: 10px 20px;
    margin: 0px;
}

.projects_content .content article .main-content {
    padding: 10px 20px;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.projects_content .content article .main-content ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.projects_content .content article .main-content li {
    padding: 5px 10px;
    font-weight: 800;
    background-color: #666;
    color: #eee;
    border-radius: 3px;
    box-shadow: 3px 3px 2px #222;
    margin-top: 10px;
}

//0 0 50px rgba(0,0,0,.75) inset